<mat-tab-group>
    <mat-tab label="First">
      <ng-template matTabContent>
      <mat-grid-list cols="2" rowHeight="550px">
        <mat-grid-tile *ngFor='let video of data.tiktok.video1'>
        <video controls #videoPlayer width="640" height="400" allow="autoplay">
        <source src="{{video}}" type="video/mp4" />
          Browser not supported
        </video>
          </mat-grid-tile>
        </mat-grid-list></ng-template></mat-tab>
    <mat-tab label="Second">
      <ng-template matTabContent><mat-grid-list cols="2" rowHeight="550px">
        <mat-grid-tile *ngFor='let video of data.tiktok.video2'>
        <video controls #videoPlayer width="640" height="400" allow="autoplay">
        <source src="{{video}}" type="video/mp4" />
          Browser not supported
        </video>
          </mat-grid-tile>
        </mat-grid-list></ng-template></mat-tab>
    <mat-tab label="Third"><ng-template matTabContent><mat-grid-list cols="2" rowHeight="550px">
        <mat-grid-tile *ngFor='let video of data.tiktok.video3'>
        <video controls #videoPlayer width="640" height="400" allow="autoplay">
        <source src="{{video}}" type="video/mp4" />
          Browser not supported
        </video>
          </mat-grid-tile>
        </mat-grid-list></ng-template></mat-tab>
        <mat-tab label="Fourth"><ng-template matTabContent><mat-grid-list cols="2" rowHeight="550px">
            <mat-grid-tile *ngFor='let video of data.tiktok.video4'>
            <video controls #videoPlayer width="640" height="400" allow="autoplay">
            <source src="{{video}}" type="video/mp4" />
              Browser not supported
            </video>
              </mat-grid-tile>
            </mat-grid-list></ng-template></mat-tab>
            <mat-tab label="Fifth"><mat-grid-list cols="2" rowHeight="550px">
                <mat-grid-tile *ngFor='let video of data.tiktok.video5'>
                <video controls #videoPlayer width="640" height="400" allow="autoplay">
                <source src="{{video}}" type="video/mp4" />
                  Browser not supported
                </video>
                  </mat-grid-tile>
                </mat-grid-list></mat-tab>
                <mat-tab label="Sixth"><mat-grid-list cols="2" rowHeight="550px">
                    <mat-grid-tile *ngFor='let video of data.tiktok.video6'>
                    <video controls #videoPlayer width="640" height="400" allow="autoplay">
                    <source src="{{video}}" type="video/mp4" />
                      Browser not supported
                    </video>
                      </mat-grid-tile>
                    </mat-grid-list></mat-tab>
                    <mat-tab label="Seventh"><mat-grid-list cols="2" rowHeight="550px">
                        <mat-grid-tile *ngFor='let video of data.tiktok.video7'>
                        <video controls #videoPlayer width="640" height="400" allow="autoplay">
                        <source src="{{video}}" type="video/mp4" />
                          Browser not supported
                        </video>
                          </mat-grid-tile>
                        </mat-grid-list></mat-tab>
                        <mat-tab label="Eighth"><mat-grid-list cols="2" rowHeight="550px">
                            <mat-grid-tile *ngFor='let video of data.tiktok.video8'>
                            <video controls #videoPlayer width="640" height="400" allow="autoplay">
                            <source src="{{video}}" type="video/mp4" />
                              Browser not supported
                            </video>
                              </mat-grid-tile>
                            </mat-grid-list></mat-tab>
                            <mat-tab label="Ninth"><mat-grid-list cols="2" rowHeight="550px">
                                <mat-grid-tile *ngFor='let video of data.tiktok.video9'>
                                <video controls #videoPlayer width="640" height="400" allow="autoplay">
                                <source src="{{video}}" type="video/mp4" />
                                  Browser not supported
                                </video>
                                  </mat-grid-tile>
                                </mat-grid-list></mat-tab>
                                <mat-tab label="Tenth"><mat-grid-list cols="2" rowHeight="550px">
                                    <mat-grid-tile *ngFor='let video of data.tiktok.video10'>
                                    <video controls #videoPlayer width="640" height="400" allow="autoplay">
                                    <source src="{{video}}" type="video/mp4" />
                                      Browser not supported
                                    </video>
                                      </mat-grid-tile>
                                    </mat-grid-list></mat-tab>

  </mat-tab-group>
  